@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}


.gradient-heading {
	@apply bg-gradient-to-br from-pink-500 to-violet-500 bg-clip-text text-transparent box-decoration-clone
}